body {
  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--main-bcg-color);
}

* {
  box-sizing: border-box;
}

.link:focus,
.link:hover {
  color: var(--blue-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding: 10px 32px;
  margin-top: 30px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background: var(--blue-color);
  color: var(--main-bcg-color);
}

.mailing-list-btn {
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  margin-left: 12px;
  padding-left: 28px;
  padding-right: 62px;
  border-color: transparent;
}

.modal-btn {
  display: block;
  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-color: transparent;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.nav-btn {
  font-family: inherit;
  color: var(--title-color);
  background: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background, color, box-shadow;
}
.nav-btn:focus, .nav-btn:hover {
  background: var(--blue-color);
  color: var(--main-bcg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-duration: 250ms;
}

.close-btn:hover {
  border: 1px solid #2196f3;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid tomato; */
}

.title-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage__list {
  display: flex;
  gap: 30px;
  padding-left: 0;
}

.item {
  width: 270px;
}

.advantage__box {
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantage__svg {
  width: 70px;
  height: 70px;
}

.advantage__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.advantage__text {
  line-height: 1.71;
  color: var(--text-color);
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__item {
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.person {
  padding-top: 30px;
  padding-bottom: 30px;
}

.person__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-color);
}

.person__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 10px;
}

.social-network__list {
  display: flex;
  margin-top: 16px;
  gap: 10px;
  justify-content: center;
  padding-left: 0;
}

.social-network__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-bcg-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network__link:focus, .social-network__link:hover {
  background-color: #2196f3;
}

.logo-company {
  padding-top: 94px;
  padding-bottom: 94px;
}

.social-network__svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network__link:hover .social-network__svg, .social-network__link:focus .social-network__svg {
  fill: #ffffff;
}

.logo-company__title {
  margin-bottom: 50px;
}

.logo-company__list {
  display: flex;
  gap: 30px;
  padding-left: 0;
}

.logo-company__svg {
  width: 106px;
  height: 60px;
  display: flex;
  fill: currentColor;
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-company-link:hover .logo-company__svg, .logo-company-link:focus .logo-company__svg {
  fill: #2196f3;
}

.logo-company__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: #afb1b8;
  justify-content: center;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-company__link:hover, .logo-company__link:focus {
  color: var(--blue-color);
}

.footer-position {
  display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container-footer-logo {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.foot-box {
  display: flex;
  align-items: baseline;
}

.social-foot__list {
  display: flex;
  gap: 10px;
  padding-left: 0;
}

.social-foot__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-bcg-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-foot__link:focus, .social-foot__link:hover {
  background-color: #2196f3;
  color: var(--main-bcg-color);
}
.social-foot__link:focus .social-foot__svg, .social-foot__link:hover .social-foot__svg {
  fill: #ffffff;
}

.social-foot__svg {
  height: 20px;
  width: 20px;
  fill: currentColor;
}

.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0;
}

.adress {
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-bcg-color);
}

.social-network-box {
  margin-left: 70px;
}

.last-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.mailing-list {
  margin-left: auto;
}

.mailing-list > form {
  display: flex;
}

.mailing-input {
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
  transition-property: border-color;
}
.mailing-input:focus {
  border-color: #2196f3;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.mailing-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-form {
  position: relative;
}

.mailing-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 13px;
  right: 28px;
}

.hov:focus,
.hov:hover {
  color: var(--blue-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.svg-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.svg-mail:hover {
  fill: #2196f3;
}

.svg-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.svg-phone:hover {
  fill: #2196f3;
}

.header-connect {
  margin-left: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-right: 93px;
}

.header-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: block;
  color: var(--title-color);
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--blue-color);
  position: relative;
}
.current::after {
  content: "";
  display: inline-block;
  position: absolute;
  border-radius: 2px;
  height: 4px;
  width: 100%;
  background: #2196f3;
  bottom: 0;
  left: 0;
}

.header-tel {
  display: flex;
  gap: 50px;
}

.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: flex;
  align-items: center;
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-bcg-color);
}

.hero {
  padding: 200px 0;
  text-align: center;
}

.overlay {
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
}

.main-title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  color: var(--main-bcg-color);
}

.box-btn {
  text-align: center;
}

.icon-close {
  height: 11px;
  width: 11px;
}

.backdrop {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: color 250ms linear, visibility 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-duration: 250ms;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(0);
  width: 528px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  transition-property: transform;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 12px;
}

.modal-input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .modal-input-icon {
  fill: #2196f3;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  padding-left: 42px;
  outline: transparent;
  transition-property: border-color, fill;
}
.modal-input:focus {
  border-color: #2196f3;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.input-wrap {
  position: relative;
}

.input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 10px;
}

.modal-name {
  margin-bottom: 4px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  resize: none;
  outline: transparent;
  transition-property: border-color;
  margin-bottom: 20px;
}
.modal-textarea :focus {
  border-color: #2196f3;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.modal-textarea ::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea :-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea ::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-left: 8px;
}

.label {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox:checked + .icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../img/icon.svg);
  background-size: contain;
  border-radius: 2px;
  background-origin: border-box;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) rotateX(90deg);
}

.btns-portpholio {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.jobs {
  padding-bottom: 94px;
}

.link-caption {
  position: relative;
}

.caption {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 370px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}

.main-sect {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portpholio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.portpholio-item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.card-bcg {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.thumb-portpholio {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.thumb-text {
  position: absolute;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(0);
  transition: transform 250ms linear;
  transition-property: translateY(-100%);
}
.portpholio-link:hover .thumb-text, .portpholio-link:focus .thumb-text {
  transform: translateY(-100%);
}

.teem-p {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 10px;
  color: var(--text-color);
}

.portpholio-link {
  display: block;
  transition-duration: 250ms;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portpholio-link:hover, .portpholio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --blue-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --main-bcg-color: #ffffff;
}/*# sourceMappingURL=main.css.map */