.advantage {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.advantage__list {
  display: flex;
  gap: 30px;
  @media screen and(min-width: 320px) {
    max-width: 480px;
    flex-direction: column;
  }
  @media screen and(min-width: 768px) {
    max-width: 768px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  @media screen and(min-width: 1200px) {
    max-width: 1200px;
    display: flex;
    gap: 30px;
  }
}

.advantage__box {
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  @media screen and(min-width: 768px) {
    max-width: calc((100% - 30px) / 2);
  }
  @media screen and(min-width: 1200px) {
    max-width: calc((100% - 90px) / 4);
  }
}
.advantage__svg {
  width: 70px;
  height: 70px;
}

.advantage__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  @media screen and(min-width: 320px) {
    display: flex;
    max-width: 450px;
    justify-content: center;
  }
  @media screen and(min-width: 768px) {
    max-width: 350px;
    display: flex;
    justify-content: start;
  }
  @media screen and(min-width: 1200px) {
    max-width: 270px;
    display: flex;
    justify-content: start;
  }
}
.advantage__text {
  line-height: 1.71;
  color: var(--text-color);
  @media screen and(min-width: 480px) {
    width: 450px;
  }
  @media screen and(min-width: 768px) {
    width: 354px;
  }
  @media screen and(min-width: 1200px) {
    max-width: 270px;
  }
}
