.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  border-bottom: 1px solid #ececec;
}
.header-list {
  display: flex;
  gap: 50px;
  margin-left: 80px;
  @media screen and(max-width:767px) {
    display: none;
  }
}
.tab-list {
  @media screen and(min-width:768px) {
    flex-direction: column;
    gap: 10px;
  }
  @media screen and(min-width:1200px) {
    flex-direction: row;
    gap: 30px;
  }
}
.mob-menu {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 48px 40px;
  top: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mob-nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  text-align: center;
  letter-spacing: 0.02em;
}
.mob-current {
  color: #2196f3;
}

.mob-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
}
.mob-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: #2196f3;
  display: block;
  margin-bottom: 32px;
}

.mob-soc__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  @media screen and(min-width:480px) {
    flex-wrap: nowrap;
  }
}

.mob-soc {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;
}
.line {
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
  color: rgba(33, 33, 33, 0.2);
}
.noline {
  font-size: 22px;
  color: transparent;
}
.header-nav {
  display: flex;
  align-items: center;
}
.svg-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  &:hover {
    fill: #2196f3;
  }
}
.svg-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  &:hover {
    fill: #2196f3;
  }
}

.header-connect {
  margin-left: auto;
  @media screen and(max-width:767px) {
    display: none;
  }
}
.header-container {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  @media screen and(min-width:768px) {
    height: 80px;
  }
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.header-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: block;
  color: var(--title-color);
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  color: var(--blue-color);
  position: relative;
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    background: #2196f3;
    bottom: 0;
    left: 0;
  }
}

.header-tel {
  display: flex;
  gap: 50px;
}
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: flex;
  align-items: center;
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-bcg-color);
}
