.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  max-width: 1600px;
  height: 100%;
}

.overlay {
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/hero-mob-2x.jpg);
  }
  @media screen and(min-width:768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/hero-tab.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/hero-tab-2x.jpg);
    }
  }
  @media screen and(min-width:1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/hero.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/hero-2x.jpg);
    }
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.main-title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bcg-color);
  @media screen and(min-width:480px) {
    margin: 0 auto;
  }
  @media screen and(min-width:768px) {
    width: 370px;
  }
  @media screen and(min-width:1200px) {
    font-size: 44px;
    line-height: calc(60 / 44);
    width: 700px;
  }
}

.box-btn {
  text-align: center;
}

.icon-close {
  height: 11px;
  width: 11px;
}
.backdrop {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: color 250ms linear, visibility 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-duration: 250ms;
}
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(0);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  transition-property: transform;
  @media screen and(max-width:1199px) {
    width: 95%;
    max-width: 450px;
    height: 95%;
    max-height: 610px;
    overflow: scroll;
  }
  @media screen and(min-width:768px) {
    max-width: 528px;
  }
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 12px;
}

.modal-input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  .modal-input:focus + & {
    fill: #2196f3;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  padding-left: 42px;
  outline: transparent;
  transition-property: border-color, fill;
  &:focus {
    border-color: #2196f3;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
}

.input-wrap {
  position: relative;
}

.input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 10px;
}
.modal-name {
  margin-bottom: 4px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  resize: none;
  outline: transparent;
  transition-property: border-color;
  margin-bottom: 20px;
  & :focus {
    border-color: #2196f3;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
  & ::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-left: 8px;
  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}
.modal-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}
.label {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox:checked + .icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../img/icon.svg);
  background-size: contain;
  border-radius: 2px;
  background-origin: border-box;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) rotateX(90deg);
}
