body {
  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--main-bcg-color);
}
* {
  box-sizing: border-box;
}
.link:focus,
.link:hover {
  color: var(--blue-color);
}
